.mint-h2{
    color: black;
    font-weight: bold;
    font-size: 40px;

}
 .form-control:not(active){
    color:black;
    background-color: #babec1;
 }

 .form-control:focus{
    color:black;
    background-color: #babec1;
 }
 input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
.form-control:focus {
    box-shadow: none;
  }
  .form-mint-text{
    color: black;
    font-weight: bold;
  }
  .mint-box{
      background-color: #303339;
  }
  @media(max-width: 600px){
    .mint-h2{
        color: black;
        font-weight: bold;
        font-size: 25px;

    }
  }